<html>
  <head>
    <title>Password reset request</title>
  </head>
  <body>
    <p>
      We've noticed you need to reset your password. Follow the instructions
      below or ignore this email if you think you got it by accident.
    </p>
    <p>To reset your password, click the button below</p>
    <a href="{{ confirm_url }}"
      ><button
        style="
          margin: 1em;
          border: 0;
          font-size: 1.1em;
          background-color: #c62828;
          color: white;
          padding: 0.6em 2em;
          border-radius: 8px;
        "
      >
        RESET PASSWORD
      </button></a
    >
    <p>
      If the button is not available, please click on this link
      <a href="{{ confirm_url }}">{{ confirm_url }}</a>
    </p>
    <p>Cheers,<br />The Visual Approach Analytics team.</p>
  </body>
</html>
