black
click
email-validator
flake8
Flask
flask-admin
Flask-Login
flask-migrate
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pytest
python-dotenv
SQLAlchemy
Werkzeug
WTForms
