black
cloudpickle
click
dash
dask
datashader
datetime
dash_bootstrap_components
email-validator
fsspec
flake8
Flask
flask-admin
flask_basicauth
flask_bootstrap
Flask-Login
flask-migrate
Flask-Mail
flask_mail
flask_security
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
mysqlclient
numpy
pandas
pycountry
pytest
pathlib
python-dotenv
SQLAlchemy==1.3.23
sqlalchemy_utils
Werkzeug
WTForms
